.markdown ul,
.markdown ol,
.markdown table,
.markdown p,
.markdown pre {
    margin-bottom: 1rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.markdown code { font-family: monospace; }
.markdown h1 { font-size: 26px; }
.markdown h2 { font-size: 20px; }
.markdown h3 { font-size: 18px; }

.markdown pre code {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    display: block;
    /* padding: 12px 16px; */
}

.markdown p code {
    background-color: #fff;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 4px;
}

.markdown ol { list-style-type: decimal-leading-zero; }
.markdown ul { list-style-type: disc; }
.markdown li { margin-left: 1.6rem; }
.markdown li + li { margin-top: 4px; }

.markdown table {
    font-size: 13px;
    width: 100%;
}

.markdown th {
    font-weight: bold;
}

.markdown table td,
.markdown table th {
    border: 1px solid #ddd;
    padding: 4px 8px;
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}
